.header-background {
    background-color: gray
}

.header-content {
    background-color: #222;
    height: 88px;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: 100;
    color: white;
    display:flex;
  }


.logo {
    padding: 20px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.header-links {
    list-style-type: none;
    margin-left: auto;
    display: flex;
}

.links-props {
    padding: 20px;
    cursor: pointer;
}

li:hover {
    color: orange;
}